In [6]:
import requests
import MySQLdb
import datetime
import time
import pandas as pd
import xml.etree.ElementTree as ET
from ConfigParser import ConfigParser

#get xml from url and turn into tree
url = 'https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml'
r = requests.get(url)
r = r.text
root = ET.fromstring(r)

#get time from xml root
timestamp = float(root.attrib['lastUpdate'])
timestamp = time.strftime("%Y-%m-%d %H:%M:%S", time.gmtime(timestamp / 1000.0))

#parse data from tree
list = []
for child in root:
    list.append([item.text for item in child])

#convert to dataframe and give columns names
g = pd.DataFrame(list)
g.columns = ['station_id', 'name', 'terminalName', 'lat', 'long', 'installed', 'locked', 'install_date', 'removal_date', 'temporary', 'nb_bikes', 'nb_empty_docks', 'nb_docks']

In [7]:
output = g[['station_id', 'name', 'terminalName', 'lat', 'long', 'installed', 'locked', 'install_date', 'removal_date', 'temporary', 'nb_docks']]

In [8]:
output['install_date'] = pd.to_datetime(pd.to_numeric(output.install_date, errors='ignore') * 1000000)
output['removal_date'] = pd.to_datetime(pd.to_numeric(output.removal_date, errors='ignore') * 1000000)

/home/jb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/jb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [4]:
output.to_csv('stations.csv', sep = ',', index = False)

In [11]:
output.head()

,station_id,name,terminalName,lat,long,installed,locked,install_date,removal_date,temporary,nb_docks
0,1,"River Street , Clerkenwell",001023,51.52916347,-0.109970527,true,false,2010-07-12 15:08:00,NaT,false,19
1,2,"Phillimore Gardens, Kensington",001018,51.49960695,-0.197574246,true,false,2010-07-08 10:43:00,NaT,false,37
2,3,"Christopher Street, Liverpool Street",001012,51.52128377,-0.084605692,true,false,2010-07-04 10:46:00,NaT,false,32
3,4,"St. Chad's Street, King's Cross",001013,51.53005939,-0.120973687,true,false,2010-07-04 10:58:00,NaT,false,23
4,5,"Sedding Street, Sloane Square",003420,51.49313,-0.156876,true,false,2010-07-04 11:04:00,NaT,false,27